# .NET Backend - Build outputs
backend/**/bin/
backend/**/obj/
backend/.vs/
backend/**/*.user
backend/**/*.suo
backend/**/appsettings.Development.json
backend/**/appsettings.json

# Angular Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Genel
.env
.DS_Store
Thumbs.db

backend/**/logs/
