<div class="counter-section w-100 float-left">
    <div class="counter-outer-layer">
        <div class="container">
            <div class="counter-inner-sec">
                <ul class="list-unstyled mb-0" >
                    <li>
                        <figure>
                            <img src="assets/images/counter-img1.png" alt="counter-img1">
                        </figure>
                        <div class="count d-inline-block">{{ psikolog }}</div>
                        <span class="d-block client-status">Psikolog</span>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/images/counter-img2.png" alt="counter-img2">
                        </figure>
                        <div class="count d-inline-block">{{ subeler }}</div>
                        <span class="d-block client-status">Şubeler</span>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/images/counter-img3.png" alt="counter-img3">
                        </figure>
                        <div class="count d-inline-block">{{ hasta }}</div>
                        <span class="d-block client-status">Hasta</span>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/images/counter-img4.png" alt="counter-img4">
                        </figure>
                        <div class="count d-inline-block">{{ basarilar }}</div>
                        <span class="d-block client-status">Başarılar</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>