
<app-banner-section id="banner"></app-banner-section>

<app-service-card id="services"></app-service-card>

<app-about-section id="about"></app-about-section>

<app-appointment-section id="appointment"></app-appointment-section>

<app-project-section id="projects"></app-project-section>

<app-counter-section id="counter"></app-counter-section>

<app-process-section id="process"></app-process-section>

<app-team-section id="team"></app-team-section>

<app-testimonial id="testimonial"></app-testimonial>

<app-blog-section id="blog"></app-blog-section>