<section class="process-main-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="process-inner-con">
            <div class="process-left-sec" >
                <figure class="mb-0">
                    <img src="../../../../assets/images/process-section/img1.jpg" alt="process-left-img">
                </figure>
            </div>
            <div class="process-right-sec">
                <div class="generic-title">
                    <span class="small-text" >
                        Nasıl Çalışır
                    </span>
                    <h2 >
                        Seçebileceğiniz Profesyonel Psikoloji Terapi Hizmetleri
                    </h2>
                </div>
                <ul class="mb-0 list-unstyled" >
                    <li>
                        <div class="process-img-sec">
                            <figure>
                                <img src="assets/images/process-icon1.png" alt="process-icon1">
                            </figure>
                        </div>
                        <div class="process-text-con">
                            <h4>Önce Bizimle Konuşun</h4>
                            <p>Uzman ekibimizle ücretsiz ilk görüşme yaparak ihtiyaçlarınızı belirleyin.</p>
                        </div>
                    </li>
                    <li>
                        <div class="process-img-sec">
                            <figure>
                                <img src="assets/images/process-icon2.png" alt="process-icon2">
                            </figure>
                        </div>
                        <div class="process-text-con">
                            <h4>Randevu Alın</h4>
                            <p>Size uygun tarih ve saatte online veya yüz yüze randevunuzu oluşturun.</p>
                        </div>
                    </li>
                    <li>
                        <div class="process-img-sec">
                            <figure>
                                <img src="assets/images/process-icon3.png" alt="process-icon3">
                            </figure>
                        </div>
                        <div class="process-text-con">
                            <h4>Seansınıza Katılın</h4>
                            <p>Terapistinizle görüşün, iyileşme yolculuğunuza başlayın.</p>
                        </div>
                    </li>
                </ul>
                <div class="generic-btn">
                    <a (click)="randevuyaGit()" style="cursor:pointer">Randevu Al</a>
                </div>
            </div>
        </div>
    </div>
</section>