<section class="banner-main-section w-100 float-left d-flex align-items-center">
    <div class="container-fluid">
        <div class="banner-inner-con">
            <div class="banner-txt-section">
                <span class="small-txt position-relative" >
                    Zihinsel Sağlığınız İçin Profesyonel Çözümler
                </span>
                <h1 >
                    Sorunlarınızı Anlamak ve Çözmek İçin Yanınızdayız
                </h1>
                <p >
                    Uzman psikologlarımızla online veya yüz yüze görüşme yapın,<br>
                    sağlıklı bir yaşama adım atın.
                </p>
                <div class="banner-btns generic-btn buttons" >
                    <a (click)="randevuyaGit()" style="cursor:pointer">Randevu Al</a>
                    <a (click)="hakkimizdaGit()" style="cursor:pointer">Daha Fazla</a>
                </div>
            </div>
            <div class="banner-images-con " >
                <figure class="mb-0">
                    <img src="../../../../assets/images/Banner-section/img-2.jpg" alt="banner-img1">
                </figure>
                <figure class="mb-0">
                    <img src="../../../../assets/images/Banner-section/img-1.avif" alt="banner-img2">
                </figure>
                <figure class="mb-0">
                    <img src="../../../../assets/images/Banner-section/img-4.jpg" alt="banner-img3">
                </figure>
            </div>
        </div>
        <div class="social-links" >
            <ul class="logo list-unstyled mb-0">
                <li>
                    <a target="_blank" href="https://www.facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="mb-0">
                    <a target="_blank" href="https://www.instagram.com">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>